:root {
    /* text color */
    --main-text-color: #ddd;
    --secondary-text-color: #222;
    --muted-text-color: #7f7f7f;
    --accent-color: #0ce5cc;
    /* background color */
    --main-background-color: #222;
    --secondary-background-color: #ddd;
    --muted-background-color: #7f7f7f;
    --crimson-background-color: #ca3b5a;
    --yellow-background-color: #d3b246;
    --accent-background-color: #0ce5cc;
    --accent-muted-background-color: #05564d;
    /* additional-color */
    --icon-fill: #ddd;
    /* :focus:hover effects */
    --general-transition-effect: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    /* font-family */
    --main-font: "Arial";
    --secondary-font: "Arial";
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    margin: 0;
}

body.is-hidden {
    overflow-y: hidden;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    color: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.dataframe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(58, 58, 58);
    padding: 30px;
    gap: 30px;
}

.dataframeTitle {
    padding: 30px;
    border-radius: 3px;
    background-color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column: span 2;
}

.dataframeTitle div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dataframeTitle p {
    font-size: 36px;
    font-weight: bold;
}

.dataframeTitle span {
    font-size: 14px;
}

.dataframeTitle label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.dataframeData {
    padding: 20px;
    background-color: #333;
}

.dataframeData th,
.dataframeData td {
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}

.dataframeData tr .td-data:not(:last-child) {
    border-right: 1px solid #ddd;
}

.td-data {
    color: rgb(255, 195, 39);
    font-size: 20px;
    line-height: 35px;
}

.td-data:hover {
    background-color: rgb(58, 58, 58);
}

table {
    border-spacing: 0;
}

.hourlyFrame,
.dailyFrame,
.monthlyFrame,
.seasonalFrame {
    background-color: #333;
}

.dailyFrame {
    grid-row: span 2;
    min-height: 450px;
}
