:root {
    /* text color */
    --main-text-color: #ddd;
    --secondary-text-color: #222;
    --muted-text-color: #7f7f7f;
    --accent-color: #0ce5cc;
    /* background color */
    --main-background-color: #222;
    --secondary-background-color: #ddd;
    --muted-background-color: #7f7f7f;
    --crimson-background-color: #ca3b5a;
    --yellow-background-color: #d3b246;
    --accent-background-color: #0ce5cc;
    --accent-muted-background-color: #05564d;
    /* additional-color */
    --icon-fill: #ddd;
    /* :focus:hover effects */
    --general-transition-effect: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    /* font-family */
    --main-font: "Arial";
    --secondary-font: "Arial";
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    margin: 0;
}

body.is-hidden {
    overflow-y: hidden;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    color: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-weight: 300;
    font-size: min(17.2vw, 85px);
    line-height: min(15vw, 75px);
    margin-bottom: 10px;
}
@media screen and (min-width: 640px) {
    h1 {
        font-size: 100px;
        line-height: 88px;
    }
}
@media screen and (min-width: 960px) {
    h1 {
        font-size: 160px;
        line-height: 140px;
    }
}

h2 {
    font-family: var(--secondary-font);
    font-size: 50px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
}
@media screen and (min-width: 480px) {
    h2 {
        font-size: 60px;
        line-height: 55px;
    }
}
@media screen and (min-width: 640px) {
    h2 {
        font-size: 80px;
        line-height: 72px;
    }
}
@media screen and (min-width: 960px) {
    h2 {
        font-size: 100px;
        line-height: 92px;
    }
}
@media screen and (min-width: 1200px) {
    h2 {
        font-size: 120px;
        line-height: 112px;
    }
}

h3 {
    font-size: 20px;
    line-height: 24px;
    font-family: var(--secondary-font);
    font-weight: 300;
    text-transform: uppercase;
}
@media screen and (min-width: 480px) {
    h3 {
        font-size: 32px;
        line-height: 36px;
    }
}

section {
    padding: 80px 0;
}
@media screen and (min-width: 960px) {
    section {
        padding: 120px 0;
    }
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 320px;
}
@media screen and (min-width: 480px) {
    .container {
        padding: 0 20px;
        max-width: 480px;
    }
}
@media screen and (min-width: 640px) {
    .container {
        padding: 0 40px;
        max-width: 640px;
    }
}
@media screen and (min-width: 960px) {
    .container {
        padding: 0 60px;
        max-width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        padding: 0 120px;
        max-width: 1200px;
    }
}

.dataframe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(58, 58, 58);
    padding: 30px;
    gap: 30px;
}

.dataframeTitle {
    padding: 30px;
    border-radius: 3px;
    background-color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column: span 2;
}

.dataframeTitle div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dataframeTitle p {
    font-size: 36px;
    font-weight: bold;
}

.dataframeTitle span {
    font-size: 14px;
}

.dataframeTitle label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.dataframeData {
    padding: 20px;
    background-color: #333;
}

.dataframeData th,
.dataframeData td {
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}

.dataframeData tr .td-data:not(:last-child) {
    border-right: 1px solid #ddd;
}

.td-data {
    color: rgb(255, 195, 39);
    font-size: 20px;
    line-height: 35px;
}

.td-data:hover {
    background-color: rgb(58, 58, 58);
}

table {
    border-spacing: 0;
}

.hourlyFrame,
.dailyFrame,
.monthlyFrame,
.seasonalFrame {
    background-color: #333;
}

.dailyFrame {
    grid-row: span 2;
    min-height: 450px;
}
